/model_ver_2/archive/
/model_ver_2/archive.zip
/model_ver_1/.ipynb_checkpoints/
/model_ver_2/.ipynb_checkpoints/
/model_ver_1/annotations/
/model_ver_1/data_ver_1/
/model_ver_1/train2014/
/model_ver_1/val2014/
/model_ver_1/vectors/
/model_ver_2/my_checkpoint.pth.tar
/.vscode/
/model_ver_2/test/
/test/
