/model-ver-2/archive/
/model-ver-2/__pycache__/
/model-ver-2/archive.zip
/model-ver-1/.ipynb_checkpoints/
/model-ver-2/.ipynb_checkpoints/
/model-ver-1/annotations/
/model-ver-1/data_ver_1/
/model-ver-1/train2014/
/model-ver-1/val2014/
/model-ver-1/vectors/
/model-ver-2/my_checkpoint.pth.tar
/.vscode/
/model-ver-2/test/
/venv/
/cache/
/_minted-course_work/
/model-ver-2/my_checkpoint_100.pth.tar
/course_work.aux
/course_work.fdb_latexmk
/course_work.fls
/course_work.log
/course_work.pdf
/course_work.synctex.gz
/course_work.toc
